html, body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin: 0px 120px;
}

.name-text {
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 2em;
}

.name-text span {
    margin-left: 16px;
}

.nav {
    display: flex;
}

.links {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 20px;
    font-family: 'Manrope';
    font-weight: bold;
    color: black;
}

.nav-link {
    color: black;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 200px;
}

.text-content {
    width: 450px;
    height: 410px;
    left: 219px;
    margin-top: 80px;
    font-family: Manrope;
    font-style: normal;
    color: #18191F;
}

.text-content h1 {
    font-weight: 800;
    font-size: 55px;
    line-height: 80px;
}

.text-content h1 span {
    background: linear-gradient(to right,#07065D, #00D4FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-content p {
    font-size: 20px;
    font-weight: normal;
}

.buttons {
    width: 196px;
    height: 62px;
    background: #0E1237;
    border-radius: 8px;
    margin-right: 25px;
    color: white;
}