.about h1{
    text-align: center;
    margin-top: 30px;
    size: 40px;
    color: #0E1237;
}

.about p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    color: #0E1237;
}
