.content {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 80px;
    font-family: 'Manrope';
}

.login-form {
    margin-top: 100px;
}

.login-form button {
    width: 300px;
    height: 35px;
    font-size: 16px;
    background-color: #0E1237;
    border-radius: 5px;
    color: white;
    margin-top: 40px;
}

.signup {
    font-size: 12px;
    margin-top: 40px;
    width: 300px;
    text-align: center;
}