{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/CSS/LandingPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/HeaderStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <title>Akatsuki</title>
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand name-text" href="{% url 'home' %}">
                    <img src="../static/Images/Logo.png" alt="" width="60" height="60" class="d-inline-block">
                    <span>Akatsuki</span>
                </a>
            </div>
        </nav>
        <div class="links">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">About Us</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" aria-current="page">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}" aria-current="page">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="text-content text-wrap">
            <h1>Unleash <span>learning</span> online with the best teachers</h1>
            <p>Learn from Youtube's most loved teachers from around the world</p>
            <div>
                <button class="buttons">Learn More</button>
                <a href="./SignUpPage.html">
                    <button class="buttons">Sign Up Now</button>
                </a>
            </div>
        </div>
        <img src="../static/Images/online-courses-image.png" width="600px" height="600px">
    </div>

    <footer>
        <br><br>
        <div class="v8_440" style="float: right;">
            <div class="v8_441"><span class="v8_442" style="padding-left: 160px; float: right;"><a href="">Company</a></span>
                <div class="v8_443"><span class="v8_444" style="padding-left: 160px; float: right;"><a href="./about.html">About Us</a></span><span class="v8_445" style="padding-left: 160px; float: right;"><a
                            href="">Blog</a></span><span class="v8_447" style="padding-left: 160px; float: right;"><a href="">Contact Us</a></span></div>
            </div>

            <div class="v25_132" ><span class="v25_133" style="padding-left: 160px;"><a href="">Courses</a></span>
                <div class="v25_134" ><span class="v25_135" style="padding-left: 160px;"><a href="">Course List</a></span></div>
            </div>
            <div class="v8_454"><span class="v8_455" style="padding-left: 140px;"><a href="">Legal</a></span>
                <div class="v8_456"><span class="v8_458" style="padding-left: 140px;"><a href="">Privacy Policy</a></span><span class="v8_459"style="padding-left: 140px;"><a
                            href="">Terms of Service</a></span><br><br>
                </div><br><br>
            </div>

        </div>
    <footer>

</body>

</html>
