<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/CSS/LandingPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/HeaderStyles.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <title>Akatsuki</title>
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand name-text" href="index.html">
                    <img src="../static/Images/Logo.png" alt="" width="60" height="60" class="d-inline-block">
                    <span>Akatsuki</span>
                </a>
            </div>
        </nav>
        <div class="links">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About Us</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}" aria-current="page">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="about">
        <h1>Akatsuki Privacy Policy</h1>
        <p>This Privacy Policy explains how Akatsuki and its affiliates (“ Akatsuki Affiliates”) (collectively “
            we” or “ us”) collect, use, and share information from or about you when you use our websites, downloadable
            applications, interactive TV applications, voice-activated skills, other digital services, connected devices
            such as theme-park devices, and off-line services that link to this policy, or if you engage in business
            with us (“ Akatsuki Services or Services”). </p>

        <p>This Privacy Policy applies to the Akatsuki Services throughout the world. Any additional privacy terms
            that relate to specific Akatsuki products or services should be read in conjunction with this Policy.
        </p>

        <p>As one of the world’s leading media and entertainment companies, we offer Akatsuki Services through a
            wide range of businesses and under many different brands. The data controller of your personal information
            will be the Akatsuki company which provides services to you or does business with you. You can find out
            more information about Akatsuki , including a list of our Akatsuki Affiliates, here. </p>
    
    <p>ps: this is a demo Privacy Policy, none of which is true</p>

    </div>
   

   <footer>
        <div class="v8_440">
            <div class="v8_441"><span class="v8_442"><a href="">Company</a></span>
                <div class="v8_443"><span class="v8_444"><a href="{% url 'about' %}">About Us</a></span><span class="v8_445"><a
                            href="">Blog</a></span><span class="v8_447"><a href="{% url 'contact' %}">Contact Us</a></span></div>
            </div>
            <div class="v25_132"><span class="v25_133"><a href="">Courses</a></span>
                <div class="v25_134"><span class="v25_135"><a href="">Course List</a></span></div>
            </div>
            <div class="v8_454"><span class="v8_455"><a href="">Legal</a></span>
                <div class="v8_456"><span class="v8_458"><a href="">Privacy Policy</a></span><span class="v8_459"><a
                            href="">Terms of Service</a></span>
                </div>
            </div>
        </div>
        <footer>

</body>

</html>
