<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/CSS/LandingPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/HeaderStyles.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <title>Akatsuki</title>
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand name-text" href="index.html">
                    <img src="../static/Images/Logo.png" alt="" width="60" height="60" class="d-inline-block">
                    <span>Akatsuki</span>
                </a>
            </div>
        </nav>
        <div class="links">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About Us</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}" aria-current="page">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="about">
        <h1>Akatsuki Privacy Policy</h1>
        <p>By using our products, you agree to our Terms of Service.</p>

        <p>The Akatsuki Network is a set of related Internet sites and other applications for questions and answers
            (also referred to herein as the “Network”), owned and operated by Akatsuki, Inc. (“Akatsuki”, “we” or “us”),
            a Akatsuki corporation. Akatsuki welcomes you to the Network, the largest community of developers in the
            world, and invites you to participate in the community by sharing knowledge with your peers and colleagues.
            Like all communities, we ask that you participate in a manner that respects your fellow community members.
            To that end, we provide you with these terms of service to advise you of the legal obligations you assume
            when you engage with the Akatsuki community or otherwise access or use the public Network or any services
            provided on the public Network (collectively, “Services”). These terms govern the use of the public Network
            (the “Public Network Terms”).</p>
        
        <p>To the extent you are accessing or using our other products on behalf of a Company or Team, including without
            limitation by registering for an account on behalf of a Company or Team, your use of those products (such as
            Akatsuki for Teams or Akatsuki Business) is governed by their relevant Terms and Conditions.</p>
        
        <p>ps: this is a demo Terms and Conditions, none of which is true</p>
    </div>


    <footer>
        <div class="v8_440">
            <div class="v8_441"><span class="v8_442"><a href="">Company</a></span>
                <div class="v8_443"><span class="v8_444"><a href="{% url 'about' %}">About Us</a></span><span
                        class="v8_445"><a href="">Blog</a></span><span class="v8_447"><a
                            href="{% url 'contact' %}">Contact Us</a></span></div>
            </div>
            <div class="v25_132"><span class="v25_133"><a href="">Courses</a></span>
                <div class="v25_134"><span class="v25_135"><a href="">Course List</a></span></div>
            </div>
            <div class="v8_454"><span class="v8_455"><a href="">Legal</a></span>
                <div class="v8_456"><span class="v8_458"><a href="">Privacy Policy</a></span><span class="v8_459"><a
                            href="">Terms of Service</a></span>
                </div>
            </div>
        </div>
        <footer>

</body>

</html>
